line-length = 120
target-version = "py38"

[lint]
select = ["E", "F", "I", "UP", "B", "SIM"]
ignore = []

[format]
quote-style = "double"
indent-style = "space"
skip-magic-trailing-comma = false
line-ending = "lf"
